name: test
permissions:
  contents: read

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 5
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v4
      with:
        go-version-file: '.go-version'
    - name: test
      run: make test
  testacc:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      matrix:
        terraform:
        - 1.6.0
        - 1.5.7
        - 0.14.11
    env:
      TERRAFORM_VERSION: ${{ matrix.terraform }}
    steps:
    - uses: actions/checkout@v4
    - name: docker build
      run: docker-compose build
    - name: terraform --version
      run: docker compose run --rm tfupdate terraform --version
    - name: testacc
      run: docker compose run --rm tfupdate make testacc
